@import url(https://fonts.bunny.net/css?family=baloo-2:500,800);
@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,700);

$desktop-width: 64em;
$border-radius: 10px;
$deck-card-height: 17rem;

:root {
    --background: #EFE9DC;
    --foreground: #302C29;

    --box-shadow: #302C29;

    --ants: #f2be99;
    --eggs: #fff;
    --food: #ebcc92;
    --fertility: #cec1cf;
    --intelligence: #f3d3d2;
    --resistance: #b5dAd6;
    --attack: #f0a298;
    --luck: #b1d9b8;
    --event: #bfbfb1;
    --secret: #c8d2df;

    --disabled-opacity: 0.5;
}

.classic {
    --background: #EFE9DC;
    --foreground: #302C29;

    --box-shadow: #302C29;

    --ants: #f2be99;
    --eggs: #fff;
    --food: #ebcc92;
    --fertility: #cec1cf;
    --intelligence: #f3d3d2;
    --resistance: #b5dAd6;
    --attack: #f0a298;
    --luck: #b1d9b8;
    --event: #bfbfb1;
    --secret: #c8d2df;

    --disabled-opacity: 0.5;
}

.dark {
    --background: #1f1d1c;
    --foreground: #D2D0C6;

    --box-shadow: #121211;

    --ants: hsl(28, 34%, 27%);
    --eggs: hsl(67, 10%, 37%);
    --food: hsl(47, 39%, 25%);
    --fertility: hsl(302, 20%, 25%);
    --intelligence: hsl(345, 26%, 31%);
    --resistance: hsl(166, 23%, 26%);
    --attack: hsl(7, 41%, 25%);
    --luck: hsl(81, 30%, 23%);
    --event: hsl(51, 7%, 19%);
    --secret: hsl(264, 20%, 25%);

    --disabled-opacity: 0.3;

    svg {
        filter: brightness(2.8);
    }

    header,
    h2,
    section > div > h3,
    .results h3,
    .deck > button {
        background-color: var(--event);
        color: white;
        filter: brightness(0.9);
    }
}

.contrast {
    --background: black;
    --foreground: white;

    --box-shadow: black;

    --ants: #ff852e;
    --eggs: white;
    --food: rgb(230, 191, 0);
    --fertility: #a25fff;
    --intelligence: #ff74dc;
    --resistance: #0ee2e2;
    --attack: rgb(255, 67, 67);
    --luck: #00dc5c;
    --event: #959595;
    --secret: #3898ff;

    --disabled-opacity: 0.3;
}

.theme {
    background-color: var(--background);
    color: var(--foreground);
}


@mixin bordered {
    border: 2px solid var(--foreground);
}

@mixin shadowed-card {
    box-shadow: 0.5rem 0.5rem 0 var(--box-shadow);

    transition: all 0.3s;
}

@mixin shadowed-animation-card {
    transition: all 0.3s;

    &:hover {
        @media (prefers-reduced-motion: no-preference) {
            transform: translate(0, -1rem);
            box-shadow: 0.5rem 1.5rem 0 var(--box-shadow);
        }
    }
}

@mixin shadowed-section {
    box-shadow: 0.2rem 0.2rem 0 var(--box-shadow);
}

@mixin shadowed-button {
    box-shadow: 0.2rem 0.2rem 0 var(--foreground);

    transition: all 0.3s;
}

@mixin shadowed-animation-button {
    transition: all 0.05s;

    &:hover:not(:disabled) {
        transform: translate(0.2rem, 0.2rem);
        box-shadow: none;
    }
}

@mixin border-radius {
    border-radius:  $border-radius;
}

@mixin flex-row-wrap-center {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}

@mixin section-title {
    font-family: 'Baloo 2', sans-serif;
    background-color: var(--foreground);
    color: var(--background);
    border-bottom: 2px solid var(--foreground);
    border-top-left-radius: calc($border-radius - 3px);
    border-top-right-radius: calc($border-radius - 3px);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

:focus-visible {
    outline: none;
    background-color: var(--foreground);
    color: var(--background);

    .svg-color-stroke {
        stroke: var(--background);
    }

    .svg-color-stroke-fill {
        fill: var(--background);
    }
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 0.9em;
}

footer p {
    margin-bottom: 0;
    padding-bottom: 1em;
}

section {
    @include bordered;
    @include border-radius;
    @include shadowed-section;
    margin: 1rem 0.5rem;
}

details {
    @extend section;
    margin: 1rem;
    @include shadowed-section;
    

    summary {
        font-family: 'Baloo 2', sans-serif;
        font-weight: bold;
        padding: 0.5rem;
        border-radius: calc($border-radius - 5px);
        cursor: pointer;
    }
}

hr {
    border: 1px solid var(--foreground);
    margin: 0.7rem 0;
}

p {
    margin: 0.5rem;
}

h1,
h2,
h3 {
    padding: 0.5em;
    line-height: 0.9;
}

h2,
h3 {
    @include section-title;
    font-size: 1.1em;
}

h1 {
    padding: 0.4rem 0.7rem;
    font-size: 1.4em;
    font-family: 'Baloo 2', sans-serif;
    border-radius: 0;
}

button {
    cursor: pointer;
    @include border-radius;
    @include bordered;
    border-color: var(--foreground);
    background-color: var(--background);
    color: var(--foreground);
    font-weight: bold;
    font-family: 'Baloo 2', sans-serif;
    font-size: 1em;

    &:disabled {
        cursor: auto;
        opacity: var(--disabled-opacity);
        border-color: var(--foreground);
    }
}

header {
    @include section-title;
    border-radius: 0;
    display: flex;
        justify-content: space-between;
        align-items: center;   
    padding: 0.8em 0.5em; 

    select {
        margin-left: 0.5rem;
        padding: 0.2rem 0.4rem;
        @extend button;
        font-size: 0.9em;
    }
}

.card {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
    @extend section;
    @include shadowed-card;
    margin: 1.2rem 0.7rem;
    width: 13rem;

    p {
        margin: 0;
    }

    h3 {
        padding: 0;
    }

    > div {
        height: 100%;
        padding: 0 0.5rem 0.5rem 0.5rem;

        > div  {
            @include border-radius;
            background-color: var(--background);
            padding: 0.5rem;
            margin: 0.5rem 0;
        }
    }

    button {
        position: relative;
        border: none;
        border-radius: calc($border-radius - 2px) calc($border-radius - 2px) 0 0;
        width: 100%;
        padding: 0.5rem;

        &:disabled {
            opacity: 1;
        }
    }

    button::after {
        content: '';
        position: absolute;
        top: -1rem;
        left: -0.5rem;
        width: calc(100% + 1rem);
        height: calc($deck-card-height + 2rem);
    }

    > div:last-of-type {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

.card.buyable:hover {
    @include shadowed-animation-card;
}

.data {
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: var(--foreground);
}







.info {
    @include flex-row-wrap-center;

    .help {
        width: 100%;

        @media (min-width: $desktop-width) {
            width: 70ch;
        }
    }

    .stats {
        width: 100%;
    
        div {
            margin: 1rem;
            @extend section;
        }

        @media (min-width: $desktop-width) {
            width: 70ch;
        }

        ul {
            list-style: none;
            
            li {
                text-align: left;
                margin: 0.5rem;
            }
        }
    }

    .time {
        width: 100%;
        display: flex;
            flex-direction: column;
            justify-content: space-between;
        padding-bottom: 1rem;

        h2 {
            margin-bottom: 1rem;
        }

        .turn-viewer {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 0.5rem;
    
            @media (min-width: $desktop-width) {
                flex-wrap: wrap;
            }
            
            > div {
                width: 100%;
                display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
    
                @media (min-width: $desktop-width) {
                    flex-direction: row;
                }
            }
    
            .turn-viewer__turn-marker {
                font-family: 'Baloo 2', sans-serif;
                @include bordered;
                display: flex;
                    justify-content: center;
                    align-items: center;
                width: 0.5rem;
                height: 0.5rem;
                padding: 0.3rem;
                margin: 8px;
                background-color: var(--background);
                font-size: 0.8em;
            }
    
            .turn-viewer__turn-marker--season-turn {
                height: 1.3rem;
                width: 1.3rem;
            }
            
            .turn-viewer__turn-marker--hatch-turn {
                border-radius: 100%;
                padding: 0.4rem;
            }
            
            .turn-viewer__turn-marker--done {
                background-color: var(--foreground);
                color: var(--background);
            }
            
            .turn-viewer__turn-marker--current {
                outline: 3px solid var(--foreground);
            }
        }
    }
}

.ants {
    background-color: var(--ants);
}

.eggs {
    background-color: var(--eggs);
}

.food {
    background-color: var(--food);
}

.fertility {
    background-color: var(--fertility);
}

.intelligence {
    background-color: var(--intelligence);
}

.resistance {
    background-color: var(--resistance);
}

.attack {
    background-color: var(--attack);
}

.luck{
    background-color: var(--luck);
}

.eclosion,
.raid {
    background-color: var(--event);
}

.people,
.earth {
    background-color: var(--secret);
}

svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.dark svg,
.contrast svg {
    fill: none;
}

.svg-ants .svg-color-stroke {
    stroke: var(--ants);
}

.svg-eggs .svg-color-stroke {
    stroke: var(--eggs);
}

.svg-food .svg-color-stroke {
    stroke: var(--food);
}

.svg-food .svg-color-stroke-fill {
    fill: var(--food);
}

.svg-fertility .svg-color-stroke {
    stroke: var(--fertility);
}

.svg-intelligence .svg-color-stroke {
    stroke: var(--intelligence);
}

.svg-intelligence .svg-color-stroke-fill {
    fill: var(--intelligence);
}

.svg-resistance .svg-color-stroke {
    stroke: var(--resistance);
}

.svg-resistance .svg-color-stroke-fill {
    fill: var(--resistance);
}

.svg-attack .svg-color-stroke {
    stroke: var(--attack);
}

.svg-attack .svg-color-stroke-fill {
    fill: var(--attack);
}

.svg-luck .svg-color-stroke {
    stroke: var(--luck);
}

.svg-event .svg-color-stroke {
    stroke: var(--event);
}

.svg-event .svg-color-stroke-fill {
    fill: var(--event);
}

.svg-secret .svg-color-stroke {
    stroke: var(--secret);
}

.classic .svg-color-stroke {
    stroke: var(--foreground);
}

.classic .svg-color-stroke-fill {
    fill: var(--foreground);
}

.classic .svg-color-ants {
    fill: var(--ants);
}

.classic .svg-color-eggs {
    fill: var(--eggs);
}

.classic .svg-color-food {
    fill: var(--food);
}

.classic .svg-color-fertility {
    fill: var(--fertility);
}

.classic .svg-color-intelligence {
    fill: var(--intelligence);
}

.classic .svg-color-resistance {
    fill: var(--resistance);
}

.classic .svg-color-attack {
    fill: var(--attack);
}

.classic .svg-color-luck {
    fill: var(--luck);
}

.classic .svg-color-event {
    fill: var(--event);
}

.classic .svg-color-secret {
    fill: var(--secret);
}

.twitter svg {
    fill: var(--resistance);
}

.whatsapp svg {
    fill: var(--luck);
}

.telegram svg {
    fill: var(--resistance);
}

.reddit svg {
    fill: var(--attack);
}

.facebook svg {
    fill: var(--resistance);
}

.copy svg {
    stroke: var(--foreground);
}

.classic .share {
    li svg {
        fill: var(--foreground);
    }

    .twitter {
        background-color: var(--resistance);
    }
    
    .whatsapp {
        background-color: var(--luck);
    }

    .telegram {
        background-color: var(--resistance);
    }

    .reddit {
        background-color: var(--attack);
    }

    .facebook {
        background-color: var(--resistance);
    }

    .copy svg {
        fill: transparent;
    }
}

.deck {
    > button {
        margin: 1rem 0 2rem 0;
        padding: 0.7rem 1.1rem;
        @include shadowed-button;
        @include shadowed-animation-button;
    }

    .card {
        height: $deck-card-height;
    }

    .card:not(.buyable) {
        opacity: var(--disabled-opacity);
    }
}

.hand {
    .card {
        height: 10rem;

        h3 {
            background-color: var(--background);
            color: var(--foreground);
            padding: 0.5rem;
        }
    }
}

.deck > ul,
.hand > ul {
    display: inline;
    padding: 1rem;
    @include flex-row-wrap-center;

    li {
        display: inline;
    }
}

.results {

    > div {
        > div,
        > details {
            width: calc(100% - 2rem);
            margin: 1.5rem auto;
            @extend section;
    
            p {
                margin: 0.5rem 0.2rem;
            }
    
            @media (min-width: $desktop-width) {
                max-width: 50ch;
            }
        }
    }

    .points {
        @extend .data;
        font-size: 3em;
        display: block;
        margin: 0.6em;
    }

    .secret-points {
        @extend .points;
        color: var(--foreground);
    }

    .share {
        blockquote {
            @extend section;
            padding: 1.5em 0.8em;

            &::before {
                content: open-quote;
                float: left;
            }

            &::after {
                content: close-quote;
                float: right;
            }

            &::before,
            &::after {
                display: block;
                position: relative;
                top: 0.25em;
                font-size: 4em;
                line-height: 0;
            }
        }

        blockquote,
        ul {
            margin: 1.5rem;
        }

        a {
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: $border-radius;

            &:focus svg {
                fill: var(--background);
            }
        }

        .copy button:focus svg {
            stroke: var(--background) !important;
        }

        ul {
            @include flex-row-wrap-center;
            list-style-type: none;

            li {
                @extend button;
                @include shadowed-button;
                @include shadowed-animation-button;
                margin: 1rem;

                button {
                    border: none;
                }
            }

            svg {
                width: 2.7rem;
                height: 2.7rem;
                padding: 0.4rem;
            }
        }
    }
}


@media (min-width: $desktop-width) {
    header {
        padding: 0.5em 4em;
    }

    .container {
        padding: 0.5em 3.5em;
    }

    .info {
        flex-wrap: nowrap;

        .stats,
        .help {
            flex-grow: 1;
        }
    }
}