@import url(https://fonts.bunny.net/css?family=baloo-2:500,800);
@import url(https://fonts.bunny.net/css?family=atkinson-hyperlegible:400,700);

$background: #EFE9DC;
$foreground: #302C29;

$ants: #f2be99;
$eggs: #fff;
$food: #ebcc92;
$fertility: #cec1cf;
$intelligence: #f3d3d2;
$resistance: #b5dAd6;
$attack: #f0a298;
$luck: #b1d9b8;
$event: #bfbfb1;
$secret: #c8d2df;

$desktop-width: 40em;

$border-radius: 10px;

$deck-card-height: 17.5rem;



@mixin bordered {
    border: 2px solid $foreground;
}

@mixin shadowed-card {
    box-shadow: 0.5rem 0.5rem 0 $foreground;

    transition: all 0.3s;
}

@mixin shadowed-animation-card {
    transition: all 0.3s;

    &:hover {
        transform: translate(0, -1rem);
        box-shadow: 0.5rem 1.5rem 0 $foreground;
    }
}

@mixin shadowed-button {
    box-shadow: 0.2rem 0.2rem 0 $foreground;

    transition: all 0.3s;
}

@mixin shadowed-animation-button {
    transition: all 0.05s;

    &:hover {
        transform: translate(0.2rem, 0.2rem);
        box-shadow: none;
    }
}

@mixin border-radius {
    border-radius:  $border-radius;
}

@mixin flex-row-wrap-center {
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
}

@mixin section-title {
    font-family: 'Baloo 2', sans-serif;
    background-color: $foreground;
    color: $background;
    border-bottom: 2px solid $foreground;
    border-top-left-radius: calc($border-radius - 3px);
    border-top-right-radius: calc($border-radius - 3px);
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    text-align: center;
}

:focus-visible {
    outline: none;
    background-color: $foreground;
    color: $background;
}

body {
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 0.9em;
    background-color: $background;
    color: $foreground;
}

section {
    @include bordered;
    @include border-radius;
    @include shadowed-button;
    margin: 1rem 0.5rem;
}

details {
    @extend section;
    margin: 1rem;
    @include shadowed-button;
    

    summary {
        font-weight: bold;
        padding: 0.5rem;
        @include border-radius;
        
        cursor: pointer;
    }
}

hr {
    border: 1px solid $foreground;
    margin: 0.7rem 0;
}

p {
    margin: 0.5rem;
}

h1,
h2,
h3 {
    padding: 0.5em;
    line-height: 0.9;
}

h2,
h3 {
    @include section-title;
    font-size: 1.1em;
}

h1 {
    padding: 0.4rem 0.7rem;
    font-size: 1.4em;
    @include section-title;
    border-radius: 0;
    background-color: opacify($foreground, 0.2);
}

button {
    cursor: pointer;
    padding: 0.2rem;
    @include border-radius;
    @include bordered;
    border-color: $foreground;
    background-color: $background;
    color: $foreground;
    font-weight: bold;
    font-family: 'Baloo 2', sans-serif;
    font-size: 1em;

    &:disabled {
        cursor: auto;
        opacity: 0.5;
        border-color: $foreground;
    }
}

.card {
    display: flex;
        flex-direction: column;
        justify-content: space-between;
    @extend section;
    @include shadowed-card;
    margin: 1.2rem 0.7rem;
    width: 14rem;

    p {
        margin: 0;
    }

    h3 {
        background-color: $background;
        color: $foreground;
    }

    > div {
        height: 100%;
        padding: 0 0.5rem 0.5rem 0.5rem;

        > div  {
            @include border-radius;
            background-color: $background;
            padding: 0.5rem;
            margin: 0.5rem 0;
        }
    }

    button {
        position: relative;
        margin: 0.8rem 2rem;
    }

    button::after {
        content: '';
        position: absolute;
        bottom: -1.5rem;
        left: -2.5rem;
        width: calc(100% + 5rem);
        height: calc($deck-card-height + 1rem);
    }

    > div:last-of-type {
        border-bottom-left-radius: $border-radius;
        border-bottom-right-radius: $border-radius;
    }
}

.card.buyable:hover {
    @include shadowed-animation-card;
}

.data {
    font-family: 'Baloo 2', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: $foreground;
}







.info {
    @include flex-row-wrap-center;

    .help {
        width: 100%;

        @media (min-width: $desktop-width) {
            width: 70ch;
        }
    }

    .stats {
        width: 100%;

        p {
            text-align: left;
        }
    
        div {
            margin: 1rem;
            @extend section;
        }

        @media (min-width: $desktop-width) {
            width: 70ch;
        }
    }

    .time {
        width: 100%;
        display: flex;
            flex-direction: column;
            justify-content: space-between;
        padding-bottom: 1rem;

        h2 {
            margin-bottom: 1rem;
        }

        .turn-viewer {
            display: flex;
            width: 100%;
            justify-content: center;
            margin: 0.5rem;
    
            @media (min-width: $desktop-width) {
                flex-wrap: wrap;
            }
            
            > div {
                width: 100%;
                display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
    
                @media (min-width: $desktop-width) {
                    flex-direction: row;
                }
            }
    
            .turn-viewer__turn-marker {
                font-family: 'Baloo 2', sans-serif;
                @include bordered;
                display: flex;
                    justify-content: center;
                    align-items: center;
                width: 0.5rem;
                height: 0.5rem;
                padding: 0.3rem;
                margin: 8px;
                background-color: $background;
                font-size: 0.8em;
            }
    
            .turn-viewer__turn-marker--season-turn {
                height: 1.3rem;
                width: 1.3rem;
            }
            
            .turn-viewer__turn-marker--hatch-turn {
                border-radius: 100%;
                padding: 0.4rem;
            }
            
            .turn-viewer__turn-marker--done {
                background-color: $foreground;
                color: $background;
            }
            
            .turn-viewer__turn-marker--current {
                outline: 3px solid $foreground;
            }
        }
    }
}

.ants {
    background-color: $ants;
}

.eggs {
    background-color: $eggs;
}

.food {
    background-color: $food;
}

.fertility {
    background-color: $fertility;
}

.intelligence {
    background-color: $intelligence;
}

.resistance {
    background-color: $resistance;
}

.attack {
    background-color: $attack;
}

.luck{
    background-color: $luck;
}

.eclosion,
.raid {
    background-color: $event;
}

.people,
.earth {
    background-color: $secret;
}

svg {
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
    stroke-width: 1.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
}

.svg-color-stroke {
    stroke: $foreground;
}

.svg-color-stroke-fill {
    fill: $foreground;
}

.svg-color-ants {
    fill: $ants;
}

.svg-color-eggs {
    fill: $eggs;
}

.svg-color-food {
    fill: $food;
}

.svg-color-fertility {
    fill: $fertility;
}

.svg-color-intelligence {
    fill: $intelligence;
}

.svg-color-resistance {
    fill: $resistance;
}

.svg-color-attack {
    fill: $attack;
}

.svg-color-luck {
    fill: $luck;
}

.svg-color-event {
    fill: $event;
}

.svg-color-secret {
    fill: $secret;
}

.deck {
    > button {
        margin: 1rem 0 2rem 0;
        padding: 0.7rem 1.1rem;
        @include shadowed-button;
        @include shadowed-animation-button;
    }

    > div {
        padding: 1rem;
        @include flex-row-wrap-center;
    }

    .card {
        height: $deck-card-height;
    }

    .card:not(.buyable) {
        opacity: 0.6;
    }
}

.hand {
    .card {
        height: 10rem;
    }

    > div {
        @include flex-row-wrap-center;
    }
}

.results {
    div {
        margin: 1rem auto;
        @extend section;

        p {
            margin: 1rem 0;
        }

        @media (min-width: $desktop-width) {
            max-width: 50ch;
        }
    }

    .points {
        @extend .data;
        font-size: 3em;
        display: block;
        margin: 0.6em;
    }

    .secret-points {
        @extend .points;
        color: $foreground;
    }
}


@media (min-width: $desktop-width) {
    .container {
        padding: 0.5em 3.5em;
    }

    .info {
        flex-wrap: nowrap;

        .stats,
        .help {
            flex-grow: 1;
        }
    }
}